//- tabs

include ../link/link

//- +tab-control('title', 'href')
mixin tab-control(title, href)
  +link(title, `#${href}`)(data-tab-control=href, class="tab-control")&attributes(attributes)= title

//- +tab-content('name')
mixin tab-content(name, active)
  .tab-content(data-tab-content=name, class!=active && 'active show-slow')&attributes(attributes)
    block