// btn-mixin


%btn-default {
  font-weight: 500;
  font-size: 16px;
  line-height: em(19px, 16px);
  min-height: em(38px, 16px);
  padding: em(9px, 16px) em(32px, 16px);
  border-radius: 4px;
  display: inline-block;
  // outline: none;
}



// @include btn;
@mixin btn () {
  @extend %btn-default;
  color: $btn-color;
  background-color: transparent;
  transition: color $easing;

  // @include hover(color, $black);
  @include hover(color, $btn-color-hover);
}



// @include btn-contained;
@mixin btn-contained () {
  @extend %btn-default;
  background-color: $btn-contained-bg;
  color: $btn-contained-color;
  transition: background-color $easing;

  @include hover(background-color, $btn-contained-bg-hover);
}