//- modal-answer

include ../input/input
include ../icon/icon

//- Модальное окно order-signature
mixin modal-authorize
  #authorize&attributes(attributes)
    form(action="", method="post" )
      p authorize