//- modal-answer

include ../input/input
include ../icon/icon
include ../checkbox/checkbox

//- Модальное окно order-signature
mixin modal-authorize
  #authorize&attributes(attributes)
    form.authorize(action="", method="post" )
      h2.authorize__title Вход
      +input("text", 'input-text', 'Логин')(class="authorize__input")
      +input("password", 'input-password', 'Пароль')(class="authorize__input")
      +checkbox()(class="authorize__checkbox")
        |Запомнить
      +btn-contained('Войти')(class="authorize__btn")
        |Войти