.modal-authorize {
  // display: flex;
  // flex-direction: column;
  padding: 36px;
  width: 100%;
  min-height: 394px;
  max-width: 90%;

  @include media-breakpoint-up(sm) {
    max-width: 304px;
  }
}

.modal-authorize__title {
  text-align: center;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: .65em;
}

.modal-authorize__input {
  width: 100%;
  margin-bottom: 18px;
}

.modal-authorize__input {}

.modal-authorize__checkbox {
  margin-top: 3px;
  display: block;
}

.modal-authorize__btn {
  margin-top: 108px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}