//- channels

include ../channel/channel



mixin channels()
  -
    var data = [
      {
        'title': 'Первый канал', 
        'logo': '1tv.png',
        'items': [
          {'time': '13:00', 'text': 'Новости (с субтитрами)'},
          {'time': '14:00', 'text': 'Давай поженимся'},
          {'time': '15:00', 'text': 'Другие новости'},
        ]
      },
      {
        'title': '2x2', 
        'logo': '2x2.png',
        'items': [
          {'time': '13:00', 'text': 'МУЛЬТ ТВ. Сезон 4, 7 серия'},
          {'time': '14:00', 'text': 'ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия'},
          {'time': '15:00', 'text': 'БУРДАШЕВ. Сезон 1, 20 серия'},
        ]
      },
      {
        'title': 'РБК', 
        'logo': 'rbc.png',
        'items': [
          {'time': '13:00', 'text': 'ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС'},
          {'time': '14:00', 'text': 'ДЕНЬ. Главные темы'},
          {'time': '15:00', 'text': 'Главные новости'},
        ]
      },
      {
        'title': 'AMEDIA PREMIUM', 
        'logo': 'amedia.png',
        'items': [
          {'time': '13:00', 'text': 'Клиент всегда мёртв'},
          {'time': '14:00', 'text': 'Голодные игры: Сойка-пересмешница. Часть I'},
          {'time': '15:00', 'text': 'Секс в большом городе'},
        ]
      },
      {
        'title': 'Название канала', 
        'logo': '',
        'items': [
          {'time': '00:00', 'text': 'Фильм'},
          {'time': '00:00', 'text': 'Фильм'},
          {'time': '00:00', 'text': 'Фильм'},
        ]
      },
      {
        'title': 'Название канала', 
        'logo': '',
        'items': [
          {'time': '00:00', 'text': 'Фильм'},
          {'time': '00:00', 'text': 'Фильм'},
          {'time': '00:00', 'text': 'Фильм'},
        ]
      },
    ];

  div.channels(data-simplebar)
    ul.channels__list
      each val, i in data
        li.channels__item: +channel(val)