// channels





.channels {
  max-height: 696px;
}


.channels__list {
  margin-top: 0;
  margin-bottom: 0;
}


.channels__item {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}