// channels





.channels {
  max-height: 696px;
  margin-top: 31px;
  margin-right: -10px;

  @include media-breakpoint-up(md) {
    margin-right: -16px;
  }
}


.channels__list {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;

  @include media-breakpoint-up(md) {
    margin-right: 16px;
  }
}


.channels__item {
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }
}