//- поле ввода (input)



//- +input('type', 'name', 'placeholder')
mixin input(type, name, placeholder)
  label.input&attributes(attributes)
    input.input__fluid(type=type || 'text', name!=name, placeholder!=placeholder)
    span.input__error-text 