// поле ввода (input)

.input {
  display: inline-block;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;

  font-size: 16px;

  @include media-breakpoint-down(xs) {
    margin-top: 16px;
    margin-bottom: 0;
  } 
}


.input__placeholder {
  position: absolute;
  margin: 0;
  top: 0;
  left: 12px;

  font-size: 1em;
  line-height: 1em;
  color: $input-placeholder;
  background-color: $white;
  padding-left: 5px;
  padding-right: 5px;

  user-select: none;
  pointer-events: none;
  cursor: text;
  @include animateInput;
  max-width: 95%;
  width: auto;

  transform-origin: 0% 100%;
  transform: translateY(20px);

  @include media-breakpoint-down(xs) {
    left: 10px;
    // transform: translateY(18px);
    transform: translateY(20px);
    font-size: 14px;
  }
}

.input__error {
  user-select: none;
  pointer-events: none;
  // display: block;
  padding-top: 10px;
  color: $input-error;
  font-size: em(14px, 16px);
  line-height: em(20px, 14px);
  opacity: 1;
  transition: opacity .5s ease-out;
  display: none;
}

.input__fluid {
  height: em(56px, 16px); //*** 56px
  padding: em(13px, 16px) em(16px, 16px); // *** 13px 16px
  background-color: $white;
  border: 1px solid $input-border;
  border-radius: 6px;
  font-size: 1em;
  line-height: em(29px, 16px);

  @include media-breakpoint-down(xs) {
    height: 52px;
  }

  @include animateBorder;

  &:hover {
    border-color: $input-border-hover;
  }

  &:focus,
  &:not([value=""]) {
    &~.input__placeholder {
      transform-origin: 0 0;
      transform: translate(-1px, -5px) scale(0.88);
    }
  }

  &.error {
    border-color: $input-error;

    &~.input__placeholder {
      color: $input-error;
    }

    &~.input__error {
      display: block;
    }

    &~.input-interval__designation {
      color: $input-error;

      &:after {
        background-color: $input-error;
      }
    }
  }

  &.valid {
    &~.input__error {
      display: none;
    }
  }
}

// ***
.input--big {

  @include media-breakpoint-down(sm) {

    .input__placeholder {
      top: 6px;
    }

    .input__fluid {
      height: 66px;

      &:focus,
      &:not([value=""]) {
        &~.input__placeholder {
          transform-origin: 0 0;
          transform: translate(-1px, -10px) scale(0.88);
        }
      }
    }
  }
}


// *** 
.input-interval {

  .input__fluid {
    padding-left: 4.4em;
  }

  .input__placeholder {
    margin-left: 3.5em;
  }
}

.input-interval__designation {
  font-size: 16px;
  line-height: 1em;
  color: $main-black;
  position: absolute;
  top: em(20px, 16px);
  left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  pointer-events: none;
  user-select: none;

  @include animateColor;

  &:after {
    content: '';
    display: block;
    height: 36px;
    width: 1px;
    background-color: $main-light-grey;
    position: absolute;
    right: 0;
    top: -0.5em;
    @include animateBgcolor;

    @include media-breakpoint-down(sm) {
      top: -0.6em;

    }
  }
}

// *************
.input-search {
  width: 100%;
  max-width: 100%;

  &>.input__fluid {
    width: 100%;
    max-width: 100%;
    padding-right: 120px;
  }
}

.input-search__icon {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.input-search__reset,
.input-search__start-search {
  position: absolute;
  top: 0;

  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  @include animateOpacity;

  &:active {
    opacity: 0.5;
  }

  @include media-breakpoint-up(sm) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.input-search__reset {
  right: 60px;
}

.input-search__start-search {
  right: 0;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);
    height: 60%;
    width: 1px;

    background-color: #E0E0E0;
  }
}

.input-search__icon--reset {
  height: 14px;
  width: 14px;
}

.input-search__icon--search {
  height: 18px;
  width: 18px;

}

.input-check-inn {


  &>.input__fluid {
    padding-right: (26px + 14px + 14px);

    &.correct {
      &+.input-check-inn__icon {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}

.input-check-inn__icon {
  position: absolute;
  top: 16px;
  right: 14px;

  height: 26px;
  width: 26px;

  opacity: 0;

  pointer-events: none;

  @include animateOpacity;

  @include media-breakpoint-down(sm) {
    top: 14px;
  }
}