// поле ввода (input)

.input {
  display: inline-block;
  position: relative;

}


.input__fluid {
  width: 100%;
  max-width: 100%;
}


.input__error-text {
  color: $primary;
  font-size: 0.8em;
  display: block;
  margin-top: 0.2em;
}


.input_error {
  input {
    color: $primary;
    border-color: $primary;

    &::placeholder {
      color: $primary;
    }
  }
}