//- modal-become-partner

include ../input/input
include ../icon/icon

//- Модальное окно delivery
mixin modal-become-partner
  .modal__tab.delivery#become-partner 
    form.modal__inner.modal__form.question__inner(action="", method="post", data-form="validate")
      h3.modal__title.modal-settings__title Стать партнером
      p.modal__text.modal-settings__text Оставьте заявку, и&nbsp;наш менеджер перезвонит, чтобы проконсультировать вас
      +input('text', 'name', 'USER_NAME_BECOME-PARTNER', 'Имя', 'required')(class="modal__input")
      +input('tel', 'tel', 'USER_TEL_BECOME-PARTNER', 'Телефон', 'required')(class="modal__input")
      +input('email', 'email', 'USER_EMAIL_ORDER_2', 'Электронная почта')(class="modal__input")
      p.modal__text_small 
        |Нажимая кнопку «Отправить заявку» вы соглашаетесь с&nbsp;
        a.modal__link(href="#", title="Пользовательским соглашением") Пользовательским соглашением
      button.btn-primary.modal__button(type="submit") Отправить заявку