* {
  // outline: none;

  &::before,
  *::after {
    // outline: none;
  }
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.page {
  flex: 1 0 auto;
}


img {
  max-width: 100%;
  display: block;
}

svg {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}


.container {
  width: 100%;
  max-width: calc(100% - #{$grid-gap} * 2);
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(sm) {
    max-width: $grid-width;
  }

  @include media-breakpoint-up(xl) {
    max-width: $grid-width-xl;
  }
}


ul,
ol {
  @include resetListStyle;
}



// Скрытый заголовок
.meta-title {
  display: none;
}



input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



// убрать стрелки
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

textarea {
  resize: none;
}

// сбросить стили списков
.reset-list {
  @include resetListStyle;
}



// Скрыть скроллбар
.hide-scrollbar {

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }

}


// размываются только изображения, которых нет в кэше
.mediabox-img {
  font-family: "blur-up: auto", "object-fit: cover";
}