// ********************************
// Миксины для анимаций 
// @include animateColor;
@mixin animateColor {
  transition: color 0.3s ease-out;
}


// @include animateOpacity;
@mixin animateOpacity {
  transition: opacity 0.3s ease-out;
}



// ****************************
// Стили заголовков
// Заголовок h1
@mixin h1-style() {}

// Заголовок h2
// @include h2-style;
@mixin h2-style() {}

// Заголовок h3
@mixin h3-style() {}


// Заголовок h4
@mixin h4-style() {}



// ********************************
// Фоновое изображение
// @include backgroundImage('name.png');
@mixin backgroundImage($imageNameWhisExtension) {
  background-image: url($image_dir + $imageNameWhisExtension );
}

// Ссылка
// @include link-style;
@mixin link-style() {
  color: $link-color;

  &.primary {
    color: $main-blue;
  }

  text-decoration: none;
  @include animateColor;

  &:active {}

  @include media-breakpoint-up(sm) {

    &:hover,
    &:focus {}
  }
}

// @include link-style-primary;
@mixin link-style-primary() {
  color: $main-blue;

  &:active {}

  @include media-breakpoint-up(sm) {

    &:hover,
    &:focus {}
  }
}



// убрать стили списков
// @include resetListStyle;
@mixin resetListStyle() {
  li {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}





// плавное отображение
@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}