body {
  font: 16px/1.5 $font-family;
  color: $black;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
  cursor: pointer;
}


button {
  background: none;
  box-shadow: none;
  border: none;
  user-select: none;
  cursor: pointer;
}


input {
  font-size: 16px;
  color: $input-color;
  font-weight: 500;

  border-right: none;
  border-left: none;
  border-top: none;

  background-color: transparent;
  border-bottom: 1px solid $input-border-color;

  transition: color $easing;
  min-height: em(25px, 16px);

  &::placeholder {
    color: $input-color;
    font-weight: 400;
    transition: color $easing;
  }

  &:hover,
  &:focus {
    color: $input-color-hover;

    &::placeholder {
      color: $input-color-hover;
    }
  }
}


h2 {
  @include h2-style;
}


h3 {
  @include h3-style;
}