body {
  font: 16px/1.5 $font-family;
  color: $black;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  text-decoration: none;
}



h2 {
  @include h2-style;
}


h3 {
  @include h3-style;
}