$grid-gutter-width-xs: 40px;
$grid-gutter-width-md: 20px;
$grid-gutter-width-lg: 32px;
$grid-gutter-width: 32px; // ширина отступов между столбцами сетки


$container-max-widths: (md: 687px + $grid-gutter-width-md,
  lg: 897px + $grid-gutter-width-lg,
  xl: 1312px + $grid-gutter-width-lg, // старое значение (для подгона к макету значений в %)
);

$grid-breakpoints: (xs: 0,
  ssm: 400px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

// Шрифты
$font-family: 'Roboto',
'Helvetica',
'Arial',
sans-serif;

// Путь к директории изображений для подключения через scss
$image_dir: '../images/';

// Основные цвета сайта
$main-black: #0F1112;
$main-yellow: #F6BF46;
$main-dark-grey: #828282;
$main-light-grey: #E0E0E0;
$main-white: #ffffff;
$main-blue: #5C6D99;

$white: #ffffff;
$black: #000000;
