// link-mixin



// @include link-style;
@mixin link-style () {
  color: $link-color;
  transition: color $easing;

  @include hover(color, $link-color-hover);
  outline: none;
}



// @include link-style-primary;
@mixin link-style-primary () {
  color: $link-primary-color;
  transition: color $easing;

  @include hover(color, $link-primary-color-hover);
  outline: none;
}



// @include link-style-secondary;
@mixin link-style-secondary () {
  color: $link-secondary-color;
  transition: opacity $easing;

  @include hover(opacity, .6);
  outline: none;
}