//- channel

include ../link/link
include ../icon/icon
include ../img/img



mixin channel(data)
  article.channel
    header: h3.channel__title: +link(data.title)= data.title

    if (data.logo)
      +link-secondary(data.title)(class="channel__logo")
        +img(data.logo, data.title)

    table.channel__table
      tbody
        - items = data.items ? data.items : []
        each val, i in items
          tr.channel__row
            td.channel__time(class=(i === 0) ? 'channel__time_primary' : '')= val.time
            if (i === 0)
              td: +link-primary(`${val.time} ${val.text}`)= val.text
            else 
              td: +link(`${val.time} ${val.text}`)= val.text