//- channel

include ../link/link
include ../icon/icon



mixin channel(data)
  - iconName = data.logo ? data.logo : 'image'

  article.channel
    header: h3.channel__title: +link(data.title)= data.title

    +link-secondary(data.title)(class="channel__logo")
      +icon(iconName)

    table.channel__table
      tbody
        each val, i in data.items
          tr.channel__row
            td.channel__time(class=(i === 0) ? 'channel__time_primary' : '')= val.time
            if (i === 0)
              td: +link-primary(`${val.time} ${val.text}`)= val.text
            else 
              td: +link(`${val.time} ${val.text}`)= val.text