//- channel

include ../link/link
include ../icon/icon



mixin channel(title, icon, data)
  - iconName = icon ? icon : 'image'

  article.channel
    header: h3.channel__title: +link(title)= title

    +link-secondary(title)(class="channel__logo")
      +icon(iconName)

    table.channel__table
      tbody
        each val, i in data
          tr.channel__row
            td.channel__time(class=(i === 0) ? 'channel__time_primary' : '')= val.time
            if (i === 0)
              td: +link-primary(`${val.time} ${val.text}`)= val.text
            else 
              td: +link(`${val.time} ${val.text}`)= val.text