extends ../modules/layout/layout.pug

include ../modules/tabs/tabs
include ../modules/main-nav/main-nav



block head
  - siteTitle = "Главная"
  - isMainPage = 'main page'

block page
  main.page.container
    header.meta-title: h1 Видеосервис
    +main-nav
      +nav-item('Фильмы', 'films', 'active')
      +nav-item('Телеканалы', 'channels')
    +tab-content('films', 'active')
      |block 1
    +tab-content('channels')
      |block 2