extends ../modules/layout/layout.pug

//- include ../modules/card/card



block head
  - siteTitle = "Главная"
  - isMainPage = 'main page'

block page
  main.page
    header.meta-title: h1 Видеосервис