//- actual

extends ../modules/layout/layout.pug

include ../modules/main-nav/main-nav
include ../modules/films/films
include ../modules/genres/genres
include ../modules/channels/channels



block head
  - siteTitle = "Видеосервис с актуальными данными"

block page
  main.page.container
    header.meta-title: h1 Видеосервис
    +main-nav
      +nav-item('Фильмы', 'films', 'active')
      +nav-item('Телеканалы', 'channels')

    //- tab #films
    +tab-content('films', 'active')
      +films
      +genres

    //- tab #channels
    +tab-content('channels')
      +channels