extends ../modules/layout/layout.pug
include ../modules/input/input
include ../modules/icon/icon

block page
  .page
    .container
      h1 h1 Заголовок
      p 
        |Рыбный текст. Равным образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие 
        |в формировании дальнейших направлений развития.
      h2 h2 Заголовок
      p 
        |Рыбный текст. Равным образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие 
        |в формировании дальнейших направлений развития.
      h3 h3 Заголовок
      p 
        |Рыбный текст. Равным образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие 
        |в формировании дальнейших направлений развития.
      h4 h4 Заголовок
      p 
        |Рыбный текст. Равным образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие 
        |в формировании дальнейших направлений развития.
      hr 
      p: a(href="#") ссылка, похожая на обычный текст 
      p: a(href="#") красная ссылка
      p: a(href="#") синяя сылка