extends ../modules/layout/layout.pug
include ../modules/input/input
include ../modules/icon/icon

block page
  .page
    .container
      .row
        .col.content.style-page__content
          h1 H1 заголовок
          p P1 Удостоверяющий центр «Ижтендер» начал свою работу в 2015 году и всего за 2 года работы стал одним из крупнейших центров по выдаче электронных подписей в России с представительствами более чем в 40 крупнейших городах РФ. Аккредитован Минкомсвязи России в соответствии с требованиями Федерального закона от 06.04.2011г. № 63 «Об электронной подписи» и имеет лицензию ФСБ России на работу со средствами криптографической защиты информации.
          h2 H2 заголовок в две строки, а может даже и в три заголовок в две строки
          p P1 Удостоверяющий центр «Ижтендер» начал свою работу в 2015 году и всего за 2 года работы стал одним из крупнейших центров по выдаче электронных подписей в России с представительствами более чем в 40 крупнейших городах РФ.
          h3 H3 заголовок в две строки, а может даже и в три заголовок в две строки
          p: small P2 Удостоверяющий центр «Ижтендер» начал свою работу в 2015 году и всего за 2 года работы стал одним из крупнейших центров по выдаче электронных подписей в России с представительствами более чем в 40 крупнейших городах РФ.
          p: span P3 Удостоверяющий центр «Ижтендер» начал свою работу в 2015 году и всего за 2 года работы стал одним из крупнейших центров по выдаче электронных подписей в России с представительствами более чем в 40 крупнейших городах РФ.
          p P1 Удостоверяющий центр «Ижтендер» начал свою работу в 2015 году и всего за 2 года работы стал одним из крупнейших центров по выдаче электронных подписей в России с представительствами более чем в 40 крупнейших городах РФ.