// genres



.genres {

}


.genres__title {
  margin-top: 0;
  margin-bottom: 0;
}


.genres__list {
  @include grid;
  margin-bottom: 0;
}


.genres__item {
  margin-bottom: $grid-gap;
}


.genres__comedy {
  &::before {
    background: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);
  }
}


.genres__drama {
  &::before {
    background: linear-gradient(136.27deg, #f2994a 8.44%, #eb5757 91.36%);
  }
}


.genres__fiction {
  &::before {
    background: linear-gradient(136.27deg, #56ccf2 8.44%, #2f80ed 91.36%);
  }
}


.genres__horror {
  &::before {
    background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
  }
}