// main-nav


.main-nav {
  margin-top: 8px;
}


.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}



.main-nav__link {
  font-weight: 500;
  font-size: 28px;

  padding-bottom: 7px;

  border-bottom: 2px solid transparent;

  margin-left: 12px;
  margin-right: 12px;

  user-select: none;

  transition: color $easing, border-color $easing;


  &.active {
    color: $link-color-hover;
    border-color: $link-color-hover;
  }
}