*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%; // ******* 

  &.modalOpen {
    height: auto !important; // чтобы при показе/скрытии модалок сайт не прокручивался вверх
    overflow-y: hidden !important;
  }
}

.body_hidden {
  overflow: hidden !important;
}