//- img

//- +img('fileName', 'alt')
mixin img(fileName, alt)
  - url = `images/${fileName}`
  - url2x = url.replace(/(\.\w+$)/, '-2x$1')

  img.lazyload(data-src=url data-srcset=`${url2x} 2x` alt!=alt)&attributes(attributes)


//- +imgSimple('fileName', 'alt')
mixin imgSimple(fileName, alt)
  - url = `images/${fileName}`

  img(src!=fileName && url, alt!=alt)&attributes(attributes)