//- humburger - кнопка открытия меню в мобильной версии

mixin humburger
  button.hamburger.hamburger--slider(data-burger="data-burger", class!=attributes.class)
    span.hamburger-box
      span.hamburger-inner
    span.burder-open-btn__line