//- humburger - кнопка открытия меню в мобильной версии




mixin humburger
  button.hamburger(data-burger="data-burger" title="Открыть мобильную версию меню")&attributes(attributes)
    span.hamburger__line
    span.hamburger__line
    span.hamburger__line