// humburger - кнопка открытия меню в мобильной версии




.hamburger {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  @media (pointer: coarse) {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
  }


  &:hover,
  &:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }


  &:active {
    .hamburger__line {
      background-color: $primary;
    }
  }

  @include media-breakpoint-up(sm) {
    &:hover,
    &:focus {
      .hamburger__line {
        background-color: $primary;
      }
    }
  }
}



.hamburger__line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: $black;
  margin-top: 2px;
  margin-bottom: 2px;
  transition: background-color $easing;
}