//- checkbox


mixin checkbox(checked)
  label.checkbox.js-checkbox(tabindex="0", class!=attributes.labelClass)
    input.checkbox__input(type="checkbox", checked!=checked, class!=attributes.class)
    span.checkbox__text
      block