//- checkbox


mixin checkbox(checked)
  label.checkbox.js-checkbox(tabindex="0")&attributes(attributes)
    input.checkbox__input(type="checkbox", checked!=checked)
    span.checkbox__text
      block