include ../icon/icon
include ../humburger/humburger


//- Шапка сайта
mixin header(isMainPage)
  //- Если это главная страница, то лого обёрнуто в ссылку, если нет - в div
  if (isMainPage)
    mixin logo
      .header__logo: +icon("logotype", "logotype")
  else 
    mixin logo
      a.header__logo.logo-link(href=linkMainPage, title="Логотип"): +icon("logotype", "logotype")
  header.header.container.js-header
    +logo
    form(action="" method="")
      input(type="text" placeholder="Поиск...")
      button Найти
    a(href="#authorize" data-modal="authorize") Войти