// Шапка сайта




.header {
  display: flex;
  justify-content: space-between;

  padding-top: 32px;
  padding-bottom: 32px;
}


.header__logo {
  height: 36px;
  width: 182px;
  flex-shrink: 0;
  display: block;
}


.header__form {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    margin-right: 36px;
  }
}


.header__search {
  width: 320px;
}


.header__authorize {
  display: none;
  margin-top: 2px;


  @include media-breakpoint-up(lg) {
    display: inline-block;
  }
}


.header__humburger {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}