//- Шапка сайта


include ../icon/icon
include ../humburger/humburger
include ../link/link
include ../btn/btn
include ../input/input
include ../humburger/humburger





mixin header(isMainPage)
  if (isMainPage)
    mixin logo
      .header__logo: +icon("logotype", "logotype")
  else 
    mixin logo
      a.header__logo(href=linkMainPage, title="Видеосервис")
        +icon("logotype", "logotype")


  header.header.container
    +logo
    form.header__form(action="" method="")
      +input('text', 'search', 'Поиск...')(class="header__search")
      +btn('Найти')
        |Найти
    +btn-contained('Войти', '#authorize')(data-modal="authorize" class="header__authorize")
      |Войти
    +humburger(class="header__humburger")