// Шапка сайта




.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
  min-height: 104px;
}


.header__logo {
  height: 36px;
  width: 182px;
  flex-shrink: 0;
  display: block;
  margin-right: 32px;
}


a.header__logo {
  transition: opacity $easing;

  @include hover(opacity, .7);
}


.header__form {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-breakpoint-up(xl) {
    margin-right: 57px;
  }
}


.header__search {
  width: 320px;
}


.header__authorize {
  display: none;
  margin-top: 2px;
  width: 200px;

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  @include media-breakpoint-up(xl) {
    width: 300px;
  }
}


.header__humburger {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}