//- Шапка сайта


include ../icon/icon
include ../humburger/humburger
include ../link/link
include ../btn/btn
include ../input/input
include ../humburger/humburger
include ../site-authorize/site-authorize





mixin header(isMainPage)
  if (isMainPage)
    mixin logo
      .header__logo: +icon("logotype", "logotype")
  else 
    mixin logo
      +link-secondary("Видеосервис", linkMainPage)(class="header__logo")
        +icon("logotype", "logotype")


  header.header.container
    +logo
    form.header__form(action="" method="")
      +input('text', 'search', 'Поиск...')(labelClass="header__search")
      +btn('Найти')
        |Найти
    +site-authorize()(class='header__authorize')
    +humburger(class="header__humburger")