//- Подвал сайта

include ../icon/icon
include ../link/link




mixin footer()
  footer.footer
    .container.footer__inner
      +link-secondary('Центр Высоких Технологий', 'https://htc-cs.ru/')(class="footer__logo")
        +icon('htc-logo')
      .footer__content
        p.footer__text 426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК&nbsp;&laquo;Металлург&raquo;)
        +link('Позвонить по номеру +7 (3412) 93-88-61', 'tel:+73412938861')
          |+7 (3412) 93-88-61
        |, 
        +link('Позвонить по номеру 43-29-29', 'tel:432929')
          |43-29-29
        +link-secondary('Центр Высоких Технологий', 'https://htc-cs.ru/')(class="footer__htc")
          |htc-cs.ru