//- modal-answer

include ../input/input
include ../icon/icon

//- Модальное окно order-signature
mixin modal-answer
  .modal__tab.order-signature#answer
    form.modal__inner.modal__form.question__inner(action="", method="post", data-form="validate")
      h3.modal__title.modal-settings__title Ответим на&nbsp;ваши вопросы
      p.modal__text.modal-settings__text Оставьте заявку, и&nbsp;наш менеджер перезвонит, чтобы проконсультировать вас
      +input('text', 'name', 'USER_NAME_ANSWER', 'Имя', 'required')(class="modal__input")
      +input('tel', 'tel', 'USER_TEL_ANSWER', 'Телефон', 'required')(class="modal__input")
      +input('email', 'email', 'USER_EMAIL_ANSWER', 'Электронная почта')(class="modal__input")
      p.modal__text_small 
        |Нажимая кнопку «Отправить заявку» вы соглашаетесь с&nbsp;
        a.modal__link(href="#", title="Пользовательским соглашением") Пользовательским соглашением
      button.btn-primary.modal__button(type="submit") Отправить заявку