include ../icon/icon

mixin burger
  .burger#burger
    .burger__header
      a.burger__close(href="./" data-burger, title="Закрыть")
        +icon('icon-close', 'burger__close-icon')
    .burger__content
      p Burger