include ../icon/icon
include ../btn/btn
include ../input/input
include ../site-authorize/site-authorize




mixin burger
  .burger#burger
    .burger__header
      +btn('Закрыть')(class="burger__close", data-burger)
        +icon('icon-close', 'burger__close-icon')
    .burger__content
      form.burger__form(action="" method="")
        +input('text', 'search', 'Поиск...')(labelClass="")
        +btn('Найти')
          |Найти
      +site-authorize