// 





.burger {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: fixed;
  background-color: $default-white;
  z-index: 800;
  transform: translateX(100%);
  right: 0;
  top: 0;
  transition: transform .3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 24px;
  overflow-y: auto;

  &_active {
    transform: none;
    box-shadow: 2px 0 10px 0 rgba($default-black, .25);
  }

  @include media-breakpoint-up(sm) {
    max-width: 320px;
  }
}



.burger__close {
  display: block;
  width: 30px;
  height: 30px;
  padding: 6px;
  stroke: $black;
  stroke-width: 2px;
  margin-right: 0;
  margin-left: auto;

  @media (pointer: coarse) {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none !important;
    background: none !important;
  }

  &:hover,
  &:active {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
  transition: stroke $easing;
  @include hover(stroke, $btn-color-hover);
}



.burger__header {
  width: 100%;
  display: block;
}



.burger__content {
  width: 100%;
  margin-top: 24px;

  .btn {
    padding: 0;
    margin-left: 16px;
  }

  .site-authorize__sign-out {
    min-height: 25px;
    align-items: center;
  }
}


.burger__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}