//- site-authorize


include ../btn/btn
include ../input/input




mixin site-authorize()
  .site-authorize.js-site-authorize&attributes(attributes)
    +btn-contained('Войти', '#authorize')(data-modal="authorize")
      |Войти
    +btn('Выйти')(class="js-sign-out")
      |Выйти