//- site-authorize


include ../btn/btn
include ../input/input
include ../btn-sign-out/btn-sign-out




mixin site-authorize()
  .site-authorize&attributes(attributes)

    .site-authorize__sign-in.show.js-sign-in-wrap
      +btn-contained('Войти', '#authorize')(data-modal="authorize")
        |Войти

    .site-authorize__sign-out.js-sign-out-wrap
      p.site-authorize__text-name.js-text-name.show(tabindex="0") Константин К.
      +input("text", 'input-name', 'Имя')(labelClass="site-authorize__label-name js-label-name", class="js-input-name" )
      +btnSignOut()(class="site-authorize__sign-out-btn")