// site-authorize




.site-authorize {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .input__fluid {
    text-align: right;
  }
}


.site-authorize__sign-in,
.site-authorize__sign-out {
  display: none;

  &.show {
    display: flex;
  }
}


.site-authorize__sign-out-btn {
  margin-left: 16px;
}