// grid





// @include grid(min, max);
@mixin grid ($min: 280px, $max: 1fr) {
  // display: grid;
  // grid-gap: $grid-gap;
  // grid-template-columns: repeat(auto-fit, minmax($min, $max));
  // justify-items: center;


  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;  
  align-items: flex-start;

  margin-right: -$grid-gap;


  &>li,
  &>div {
    width: $min;
    margin-right: $grid-gap;
    margin-bottom: $grid-gap;
  }

  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }
}