// typography




// ****************************
// Стили заголовков
// Заголовок h1
@mixin h1-style() {}

// Заголовок h2
// @include h2-style;
@mixin h2-style() {
  font-weight: 500;
  font-size: 24px;
  line-height: em(24px, 28px);
}


// Заголовок h3
@mixin h3-style() {}


// Заголовок h4
@mixin h4-style() {}