include ../modal-authorize/modal-authorize



mixin modal
  - classes= 'modal__tab';
  .modal.hide-scrollbar.js-modal
    .modal__overlay.js-modal-overlay
    .modal__content.hide-scrollbar
      +modal-authorize(class=classes)